<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {pageName: "ULAgenda"}); %>
    <link rel="stylesheet" href="/css/agendas/agendas.css">
</head>
<body>

<header>
    <%- include('./partials/header', {user: true}); %>
</header>

<div class="container">
    <!-- Sidebar Gauche -->
    <div class="left-sidebar">
        <h2>Filtres</h2>
        <!-- Filtres ici -->
    </div>

    <!-- Contenu principal : les autres agendas -->
    <div class="main-content">
        <!-- Pop-up pour ajouter un nouvel agenda -->
        <div id="agendaModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Créer un nouvel agenda</h2>
                <input type="text" id="agendaName" placeholder="Nom de l'agenda" required>
                <button id="addAgendaButton">Ajouter Agenda</button>
            </div>
        </div>

        <div id="confirmDeleteModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeConfirmDeleteModal()">&times;</span>
                <h2>Confirmer la suppression</h2>
                <p>Voulez-vous vraiment supprimer cet agenda ?</p>
                <button id="confirmDeleteButton">Supprimer</button>
                <button id="annuler" onclick="closeConfirmDeleteModal()">Annuler</button>
            </div>
        </div>

        <div id="new-agenda" class="calendar">
            <h4 id="new-agenda-title">Nouvel Agenda</h4>
            <button class="add-button">+</button>
        </div>

        <% if (agendas && agendas.length > 0) { %>
            <% agendas.forEach(function(agenda) { %>
                <div class="calendar" data-id="<%= agenda._id %>" onclick="redirectToAgenda('<%= agenda._id %>')">
                    <div class="header-calendar">
                        <button class="edit-button" onclick="toggleEditMode(this, event)">Modifier</button>
                        <button class="close-agenda" onclick="removeAgenda(this, event)">x</button>
                    </div>
                    <div class="content-calendar">
                        <a class="title-view"> <%= agenda.name %> </a>
                        <span class="edit-title" style="display: none;" onclick="stopEventPropagation(event)">
                            <input type="text" value="<%= agenda.name %>" />
                        </span>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>

<footer>
    <%- include('./partials/footer', {user: {}}); %>
</footer>

<script src="/javascripts/agendas/agendas.js"></script>

</body>
</html>