<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {pageName: "ULAgenda"}); %>
    <link rel="stylesheet" href="./css/landing.css">
</head>
<body>
    <header>
        <%- include('./partials/header', {user: {user}}); %>
    </header>

    <div class="section1">
        <div class="content">
            <h1>Welcome To ULAgenda <% if (user) { %> <%= user.pseudo %> <%}%></h1>
            <p>
                Organiser vos rendez-vous facilement
            </p>
            <a href="./app" class="app-button">Start Building</a>
        </div>
        <div class="section-image">
            <img src="images/f1.png" alt="Agenda Illustration">
            <img src="images/f3.png" alt="Agenda Illustration">
            <img src="images/f4.png" alt="Agenda Illustration">
            <img src="images/f5.png" alt="Agenda Illustration">
        </div>
    </div>

    <div class="section-key-point">

        <% [
        {
          "name": "Intuitive",
          "id": "classic-calendar",
          "desc": "L'application est conçue pour être intuitive et facile à utiliser, permettant aux utilisateurs de créer des agendas et d'ajouter des rendez-vous sans effort."
        },
        {
          "name": "Partage",
          "id": "share-calendar",
          "desc": "L'application vous facilitera l'organisation de vos événements et vous donnera la possibilités de partager vos planning à tout le monde."
        },
        {
          "name": "Personnalisation",
          "id": "flexible-calendar",
          "desc": "Les utilisateurs ont un contrôle total sur leurs agendas avec la possibilité de personnaliser les événements, les rappels et plus encore pour répondre à leurs besoins de planification."
        },
        {
          "name": "Sécurité",
          "id": "lock-calendar",
          "desc": "L'application garantit que toutes vos données sont sécurisées. Vos rendez-vous et événements partagés sont protégés, assurant confidentialité et sécurité."
        }
      ].forEach(info => { %>        
            <div class="features">
                <img src="/images/<%= info.id %>.png" alt='<%= info.id %> Icon'>
                <h3><%= info.name %></h3>
                <p>
                    <%= info.desc %>
                </p>
            </div>
        <% }) %>
    </div>

    <footer>
        <%- include('./partials/footer', {user: {}}); %>
    </footer>
</body>
</html>
