<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('./partials/head', {pageName: ""}); %>
    <title>Agenda Rendez-vous</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/rendezvous/styles.css">
    <link rel="stylesheet" href="css/partials/toaster.css">
</head>
<body>
    <div class="pop-up-info"></div>
    <header>
        <%- include('./partials/header', {user: user}); %>
    </header>
    <div class="wrapper">
        <div class="snow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1536" preserveAspectRatio="xMidYMax slice">
                <g fill="#FFF" fill-opacity=".15" transform="translate(55 42)">
                    <g id="snow-bottom-layer">
                        <!-- Redimensionnement des ellipses en réduisant les rayons -->
                        <ellipse cx="6" cy="1009.5" rx="3" ry="2.75"/>
                        <ellipse cx="138" cy="1110.5" rx="3" ry="2.75"/>
                        <ellipse cx="398" cy="1055.5" rx="3" ry="2.75"/>
                        <ellipse cx="719" cy="1284.5" rx="3" ry="2.75"/>
                        <ellipse cx="760" cy="1155.5" rx="3" ry="2.75"/>
                        <ellipse cx="635" cy="1459.5" rx="3" ry="2.75"/>
                        <ellipse cx="478" cy="1335.5" rx="3" ry="2.75"/>
                        <ellipse cx="322" cy="1414.5" rx="3" ry="2.75"/>
                        <ellipse cx="247" cy="1234.5" rx="3" ry="2.75"/>
                        <ellipse cx="154" cy="1425.5" rx="3" ry="2.75"/>
                        <ellipse cx="731" cy="773.5" rx="3" ry="2.75"/>
                        <ellipse cx="599" cy="874.5" rx="3" ry="2.75"/>
                        <ellipse cx="339" cy="819.5" rx="3" ry="2.75"/>
                        <ellipse cx="239" cy="1004.5" rx="3" ry="2.75"/>
                        <ellipse cx="113" cy="863.5" rx="3" ry="2.75"/>
                        <ellipse cx="102" cy="1223.5" rx="3" ry="2.75"/>
                        <ellipse cx="395" cy="1155.5" rx="3" ry="2.75"/>
                        <ellipse cx="826" cy="943.5" rx="3" ry="2.75"/>
                        <ellipse cx="626" cy="1054.5" rx="3" ry="2.75"/>
                        <ellipse cx="887" cy="1366.5" rx="3" ry="2.75"/>
                        <ellipse cx="6" cy="241.5" rx="3" ry="2.75"/>
                        <ellipse cx="138" cy="342.5" rx="3" ry="2.75"/>
                        <ellipse cx="398" cy="287.5" rx="3" ry="2.75"/>
                        <ellipse cx="719" cy="516.5" rx="3" ry="2.75"/>
                        <ellipse cx="760" cy="387.5" rx="3" ry="2.75"/>
                        <ellipse cx="635" cy="691.5" rx="3" ry="2.75"/>
                        <ellipse cx="478" cy="567.5" rx="3" ry="2.75"/>
                        <ellipse cx="322" cy="646.5" rx="3" ry="2.75"/>
                        <ellipse cx="247" cy="466.5" rx="3" ry="2.75"/>
                        <ellipse cx="154" cy="657.5" rx="3" ry="2.75"/>
                        <ellipse cx="731" cy="5.5" rx="3" ry="2.75"/>
                        <ellipse cx="599" cy="106.5" rx="3" ry="2.75"/>
                        <ellipse cx="339" cy="51.5" rx="3" ry="2.75"/>
                        <ellipse cx="239" cy="236.5" rx="3" ry="2.75"/>
                        <ellipse cx="113" cy="95.5" rx="3" ry="2.75"/>
                        <ellipse cx="102" cy="455.5" rx="3" ry="2.75"/>
                        <ellipse cx="395" cy="387.5" rx="3" ry="2.75"/>
                        <ellipse cx="826" cy="175.5" rx="3" ry="2.75"/>
                        <ellipse cx="626" cy="286.5" rx="3" ry="2.75"/>
                        <ellipse cx="887" cy="598.5" rx="3" ry="2.75"/>
                    </g>
                </g>
                <g fill="#FFF" fill-opacity=".3" transform="translate(65 63)">
                    <g id="snow-top-layer">
                        <!-- Réduire les rayons des cercles -->
                        <circle cx="8" cy="776" r="4"/>
                        <circle cx="189" cy="925" r="4"/>
                        <circle cx="548" cy="844" r="4"/>
                        <circle cx="685" cy="1115" r="4"/>
                        <circle cx="858" cy="909" r="4"/>
                        <circle cx="874" cy="1438" r="4" transform="rotate(180 874 1438)"/>
                        <circle cx="657" cy="1256" r="4" transform="rotate(180 657 1256)"/>
                        <circle cx="443" cy="1372" r="4" transform="rotate(180 443 1372)"/>
                        <circle cx="339" cy="1107" r="4" transform="rotate(180 339 1107)"/>
                        <circle cx="24" cy="1305" r="4" transform="rotate(180 24 1305)"/>
                        <circle cx="8" cy="8" r="4"/>
                        <circle cx="189" cy="157" r="4"/>
                        <circle cx="548" cy="76" r="4"/>
                        <circle cx="685" cy="347" r="4"/>
                        <circle cx="858" cy="141" r="4"/>
                        <circle cx="874" cy="670" r="4" transform="rotate(180 874 670)"/>
                        <circle cx="657" cy="488" r="4" transform="rotate(180 657 488)"/>
                        <circle cx="443" cy="604" r="4" transform="rotate(180 443 604)"/>
                        <circle cx="339" cy="339" r="4" transform="rotate(180 339 339)"/>
                        <circle cx="24" cy="537" r="4" transform="rotate(180 24 537)"/>
                    </g>
                </g>
            </svg>

        </div>
        <div class="container">
            <h1 style="font-size: 1.2em;"> Planifier <%= agendaObj.name %> </h1>
            <form id="rendezvous-form" data-agenda-id="<%= agenda %>" data-access-level="<%= accessLevel %>">
                <div class="form-group preset-group">
                    <label for="preset-select" class="appliquerRDV">Appliquer un préréglage:</label>
                    <div class="preset-container">
                        <select id="preset-select">
                            <option value="" disabled selected>-- Sélectionner un préréglage --</option>
                            <% if (presets && presets.length > 0) { %>
                                <% presets.forEach(function(preset) { %>
                                    <option value="<%= preset._id %>"><%= preset.name %></option>
                                <% }); %>
                            <% } else { %>
                                <option disabled>Aucun préréglage disponible</option>
                            <% } %>
                        </select>
                        <a href="/presets/new" class="new-preset-link" title="Créer un nouveau préréglage">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </div>
                </div>

                <!-- Form Fields -->
                <div class="form-group">
                    <label for="nom">Nom du rendez-vous:</label>
                    <input type="text" id="nom" nme="nom" required>
                </div>

                <div class="containerH">
                    <div class="form-group">
                        <label for="date">Date du rendez-vous:</label>
                        <input type="date" id="date" name="date" required>
                    </div>

                    <div class="form-group">
                        <label for="heureDebut">Heure de début:</label>
                        <input type="time" id="heureDebut" name="heureDebut" required>
                    </div>

                    <div class="form-group">
                        <label for="duree">Durée (en minutes):</label>
                        <input type="number" id="duree" name="duree" min="0" step="1" required>
                    </div>
                </div>


                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="color">couleur:</label>
                    <div class="color">
                        <div id="colorBackground" style="background-color: #2196F3; height: 25px; width: 25px; margin:0 auto 10px auto;"></div>
                        <input type="color" id="color" name="rappel"> </input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rappel">Rappel:</label>
                    <select id="rappel" name="rappel" <%= accessLevel === 'read' ? 'disabled' : '' %>>
                        <option value="">Aucun</option>
                        <option value="5">5 minutes avant</option>
                        <option value="10">10 minutes avant</option>
                        <option value="25">25 minutes avant</option>
                        <option value="60">1 heure avant</option>
                        <option value="1440">1 jour avant</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="priority">Priorité:</label>
                    <select id="priority" name="priority" required>
                        <option value="Basse">Basse</option>
                        <option value="Moyenne" selected>Moyenne</option>
                        <option value="Haute">Haute</option>
                    </select>
                </div>

                <button type="submit" class="form-button" id="btn-placer"
                    <%= accessLevel === 'read' ? 'disabled' : '' %>
                    title="<%= accessLevel === 'read' ? 'Vous n\'avez pas les droits pour créer un rendez-vous' : '' %>">
                    Placer le rendez-vous
                </button>
            </form>
            <button type="button" class="form-button" id="btn-recurrence">RÉCURRENCES</button>
            <button type="button" class="form-button" id="btn-view-rdv">RENDEZ - VOUS</button>
        </div>

        <div class="agenda">
            <h2>Rendez-vous</h2>
            <ul id="agenda-list"></ul>
        </div>
    </div>

    <div class="wrapper-pop-up">
        <div class="recurrence-form-container">
            <h1 >Ajoutez des Récurrences</h1>
            <form id="recurrence-form">
                <button type="button" class="closer"></button>
                <div class="tabs-container">
                    <div class="tab">
                        <% ['week', 'month', 'year'].forEach((mode, i) => { %>
                            <div>
                                <% if (i > 0) { %>
                                    <svg width="25" height="25" viewBox="0 0 25 25" style="left: -25px">
                                        <rect x="0" y="0" width="25" height="25" fill="#cfbff7"/>
                                        <path d="M 0 25 L 0 0 L 25 0 Q 25 25 0 25" fill="#111828"/>
                                    </svg>
                                <% } %>
                                <button
                                        type="button"
                                        class="tablinks"
                                        onclick="openMode(this, '<%= mode %>')">
                                    <span><%= `${mode==='year'?
                                                'Année':mode==='month'?
                                                        'Mois':'Semaine'
                                            }`
                                    %>
                                    </span>
                                </button>
                                <% if (i < 2) { %>
                                    <svg width="25" height="25" viewBox="0 0 25 25" style="right: -25px">
                                        <rect x="0" y="0" width="25" height="25" fill="#cfbff7"/>
                                        <path d="M 0 0 L 25 0 L 25 25 Q 0 25 0 0" fill="#111828"/>
                                    </svg>
                                <% } %>
                            </div>
                        <% }); %>
                    </div>

                    <div class="common">
                        <button type=button class="clear-selection" onclick="clearSelection()">Clear</button>
                        <label>Jusqu'au : </label>
                        <input type="date" id="dateUntilRecurrence" name="date" required>
                    </div>


                    <div id="week" class="tabcontent">
                        <div>
                            <button type=button class="clear-selection" onclick="selectAll()">Tout Sélectionner</button>
                        </div>
                        <div class="l-content">
                            <% ['Lundi',
                                'Mardi',
                                'Mercredi',
                                'Jeudi',
                                'Vendredi',
                                'Samedi',
                                'Dimanche'
                            ].forEach((day, id) => { %>
                                <button type=button class="wday" onclick="selectDay(this, <%= id %>)"><%= day %></button>
                            <% }) %>
                        </div>
                    </div>

                    <div id="month" class="tabcontent">
                        <div>
                            <button type=button class="clear-selection" onclick="selectAll()">Tout Sélectionner</button>
                        </div>
                        <div class="l-content">
                            <% for (let i=1; i<=31; i++) { %>
                                <button type=button class="mday" onclick="selectDay(this, <%= i %>)"><%= i %></button>
                            <% } %>
                        </div>
                    </div>

                    <div id="year" class="tabcontent">
                        <ul class="yearList"></ul>
                        <div class="selector-year-day">
                            <input type="date" id="dateYearRecurrence" name="date" placeholder="DD/MM">
                            <button type=button id="addButton">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 1024 1024" version="1.1"><path d="M810.65984 170.65984q18.3296 0 30.49472 12.16512t12.16512 30.49472q0 18.00192-12.32896 30.33088l-268.67712 268.32896 268.67712 268.32896q12.32896 12.32896 12.32896 30.33088 0 18.3296-12.16512 30.49472t-30.49472 12.16512q-18.00192 0-30.33088-12.32896l-268.32896-268.67712-268.32896 268.67712q-12.32896 12.32896-30.33088 12.32896-18.3296 0-30.49472-12.16512t-12.16512-30.49472q0-18.00192 12.32896-30.33088l268.67712-268.32896-268.67712-268.32896q-12.32896-12.32896-12.32896-30.33088 0-18.3296 12.16512-30.49472t30.49472-12.16512q18.00192 0 30.33088 12.32896l268.32896 268.67712 268.32896-268.67712q12.32896-12.32896 30.33088-12.32896z"/></svg>
                            </button>
                        </div>
                    </div>
                </div>
                <button type="button" class="clear-selection" onclick="closeRecPopUp()">Valider</button>
            </form>
        </div>
    </div>
    <script>
        const agendaid = "<%= agenda %>";
    </script>
    <script src="javascripts/rendezvous/script.js"></script>
</body>
</html>
