<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <style>
        .error-message {
            color: red;
            font-size: 0.8em;
            margin-left: 10px;
        }
    </style>
    <link rel="stylesheet" href="css/signup/signup.css">
    <link rel="stylesheet" href="css/partials/toaster.css">
</head>
<body>
    <div class="pop-up-info"></div>
    <% const formData = locals.formData || {}; %>
    <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Inscription</div>
              <div class="eula">
                  <a href="/signin">Se connecter</a>
              </div>
          </div>
          <div class="right">
            <form class="form UserForm" id="signupForm">

              <div style="position: relative;">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" value="<%= formData.nom || '' %>" required>
                <span id="nomError" class="error-message"></span>
              </div>
              <div>
                <label for="prenom">Prénom:</label>
                <input type="text" id="prenom" name="prenom" value="<%= formData.prenom || '' %>" required>
                <span id="prenomError" class="error-message"></span>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= formData.email || '' %>" required>
                    <span id="emailError" class="error-message"><%= locals.errors && locals.errors.email ? locals.errors.email : '' %></span>
                </div>

                <div>
                    <label for="pseudo">Pseudo:</label>
                    <input type="text" id="pseudo" name="pseudo" value="<%= formData.pseudo || '' %>" required>
                    <span id="pseudoError" class="error-message"><%= locals.errors && locals.errors.pseudo ? locals.errors.pseudo : '' %></span>
                </div>

                <div>
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" required>
                    <span id="passwordError" class="error-message"></span>
                </div>

                <div>
                    <label for="passwordConf">Confirmer le mot de passe:</label>
                    <input type="password" id="passwordConf" name="passwordConf" required>
                    <span id="passwordConfError" class="error-message"></span>
                </div>
              <input type="submit" id="submit" value="S'inscrire">
            </form>
            <% if ( locals.expressFlash) { %>
                <p class="error"> <%= expressFlash  %> </p>
            <% } %>
          </div>
        </div>
    </div>
    </body>
    <script src="/javascripts/signup/validateForm.js"></script>
</html>
