<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Préréglages</title>
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    <link rel="stylesheet" href="/css/presets/index.css">
    <link rel="stylesheet" href="css/partials/toaster.css">
</head>
<body>
    <div class="pop-up-info"></div>
    <header>
        <%- include('../partials/header', {user: true}); %>
    </header>
    <div class="snow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1536" preserveAspectRatio="xMidYMax slice">
            <g fill="#FFF" fill-opacity=".15" transform="translate(55 42)">
                <g id="snow-bottom-layer">
                    <ellipse cx="6" cy="1009.5" rx="3" ry="2.75"/>
                    <ellipse cx="138" cy="1110.5" rx="3" ry="2.75"/>
                    <ellipse cx="398" cy="1055.5" rx="3" ry="2.75"/>
                    <ellipse cx="719" cy="1284.5" rx="3" ry="2.75"/>
                    <ellipse cx="760" cy="1155.5" rx="3" ry="2.75"/>
                    <ellipse cx="635" cy="1459.5" rx="3" ry="2.75"/>
                    <ellipse cx="478" cy="1335.5" rx="3" ry="2.75"/>
                    <ellipse cx="322" cy="1414.5" rx="3" ry="2.75"/>
                    <ellipse cx="247" cy="1234.5" rx="3" ry="2.75"/>
                    <ellipse cx="154" cy="1425.5" rx="3" ry="2.75"/>
                    <ellipse cx="731" cy="773.5" rx="3" ry="2.75"/>
                    <ellipse cx="599" cy="874.5" rx="3" ry="2.75"/>
                    <ellipse cx="339" cy="819.5" rx="3" ry="2.75"/>
                    <ellipse cx="239" cy="1004.5" rx="3" ry="2.75"/>
                    <ellipse cx="113" cy="863.5" rx="3" ry="2.75"/>
                    <ellipse cx="102" cy="1223.5" rx="3" ry="2.75"/>
                    <ellipse cx="395" cy="1155.5" rx="3" ry="2.75"/>
                    <ellipse cx="826" cy="943.5" rx="3" ry="2.75"/>
                    <ellipse cx="626" cy="1054.5" rx="3" ry="2.75"/>
                    <ellipse cx="887" cy="1366.5" rx="3" ry="2.75"/>
                    <ellipse cx="6" cy="241.5" rx="3" ry="2.75"/>
                    <ellipse cx="138" cy="342.5" rx="3" ry="2.75"/>
                    <ellipse cx="398" cy="287.5" rx="3" ry="2.75"/>
                    <ellipse cx="719" cy="516.5" rx="3" ry="2.75"/>
                    <ellipse cx="760" cy="387.5" rx="3" ry="2.75"/>
                    <ellipse cx="635" cy="691.5" rx="3" ry="2.75"/>
                    <ellipse cx="478" cy="567.5" rx="3" ry="2.75"/>
                    <ellipse cx="322" cy="646.5" rx="3" ry="2.75"/>
                    <ellipse cx="247" cy="466.5" rx="3" ry="2.75"/>
                    <ellipse cx="154" cy="657.5" rx="3" ry="2.75"/>
                    <ellipse cx="731" cy="5.5" rx="3" ry="2.75"/>
                    <ellipse cx="599" cy="106.5" rx="3" ry="2.75"/>
                    <ellipse cx="339" cy="51.5" rx="3" ry="2.75"/>
                    <ellipse cx="239" cy="236.5" rx="3" ry="2.75"/>
                    <ellipse cx="113" cy="95.5" rx="3" ry="2.75"/>
                    <ellipse cx="102" cy="455.5" rx="3" ry="2.75"/>
                    <ellipse cx="395" cy="387.5" rx="3" ry="2.75"/>
                    <ellipse cx="826" cy="175.5" rx="3" ry="2.75"/>
                    <ellipse cx="626" cy="286.5" rx="3" ry="2.75"/>
                    <ellipse cx="887" cy="598.5" rx="3" ry="2.75"/>
                </g>
            </g>
            <g fill="#FFF" fill-opacity=".3" transform="translate(65 63)">
                <g id="snow-top-layer">
                    <circle cx="8" cy="776" r="4"/>
                    <circle cx="189" cy="925" r="4"/>
                    <circle cx="548" cy="844" r="4"/>
                    <circle cx="685" cy="1115" r="4"/>
                    <circle cx="858" cy="909" r="4"/>
                    <circle cx="874" cy="1438" r="4" transform="rotate(180 874 1438)"/>
                    <circle cx="657" cy="1256" r="4" transform="rotate(180 657 1256)"/>
                    <circle cx="443" cy="1372" r="4" transform="rotate(180 443 1372)"/>
                    <circle cx="339" cy="1107" r="4" transform="rotate(180 339 1107)"/>
                    <circle cx="24" cy="1305" r="4" transform="rotate(180 24 1305)"/>
                    <circle cx="8" cy="8" r="4"/>
                    <circle cx="189" cy="157" r="4"/>
                    <circle cx="548" cy="76" r="4"/>
                    <circle cx="685" cy="347" r="4"/>
                    <circle cx="858" cy="141" r="4"/>
                    <circle cx="874" cy="670" r="4" transform="rotate(180 874 670)"/>
                    <circle cx="657" cy="488" r="4" transform="rotate(180 657 488)"/>
                    <circle cx="443" cy="604" r="4" transform="rotate(180 443 604)"/>
                    <circle cx="339" cy="339" r="4" transform="rotate(180 339 339)"/>
                    <circle cx="24" cy="537" r="4" transform="rotate(180 24 537)"/>
                </g>
            </g>
        </svg>
        
    </div>

    <div class="content">
        
        <div class="presets-page">
            <h1>Mes Préréglages</h1>

            <%- include('../partials/flashMessages') %>

            <table border="1">
                <thead>
                    <tr>
                        <th>Nom du préréglage</th>
                        <th>Nom du rendez-vous</th>
                        <th>Couleur</th>
                        <th>Heure de début</th>
                        <th>Priorité</th>
                        <th>Récurrence</th>
                        <th>Durée</th>
                        <th>Rappel</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (presets.length === 0) { %>
                        <tr>
                            <td colspan="8">Aucun préréglage trouvé.</td>
                        </tr>
                    <% } else { %>
                        <% presets.forEach(preset => { %>
                            <tr>
                                <td><%= preset.name %></td>
                                <td><%- preset.eventName ? preset.eventName : '<i>Aucun</i>' %></td>
                                <td style="background-color: <%= preset.color %>;">&nbsp;</td>
                                <td><%- preset.startHour ? preset.startHour : '<i>Aucune</i>' %></td>
                                <td class="<%= preset.priority === 'Haute' ? 'priority-high' : (preset.priority === 'Moyenne' ? 'priority-medium' : 'priority-low') %>">
                                    <%= preset.priority %>
                                </td>
                                <td><%- preset.recurrence ? preset.recurrence.summary : '<i>Aucune</i>' %></td>
                                <td><%= preset.duration %> min</td>
                                <td><%= preset.reminder ? preset.reminder + ' min' : 'Aucun' %></td>
                                <td colspan="2">
                                    <div class="action-buttons">
                                        <button onclick="window.location.href='/presets/<%= preset._id %>'">Modifier</button>
                                        <form action="/presets/<%= preset._id %>?_method=DELETE" method="POST" id="delete-form">
                                            <button type="submit" id="delete-button">Supprimer</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>

            <a href="/presets/new" class="newPrereglage">Créer un nouveau préréglage</a>
        </div>
    </div>
    <div id="popup-confirmation" class="hidden">
        <div class="popup-content">
            <p>Êtes-vous sûr de vouloir supprimer ce préréglage ?</p>
            <div class="popup-buttons">
                <button id="popup-confirm" class="btn btn-danger">Oui</button>
                <button id="popup-cancel" class="btn btn-secondary">Non</button>
            </div>
        </div>
    </div>
</body>

</html>
